*
!.gitignore
!.nojekyll
!index.html
!playlist.js
!README.md
!media/
media/*
!media/segment-*.mp3
!eva-test/
eva-test/*
!eva-test/index.html
!eva-test/playlist.js
!eva-test/README.md
!eva-test/media/
eva-test/media/*
!eva-test/media/eva-*.mp3
!eva-test/media/music-*.mp3
